html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: pink;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

table {
    width: 100%;
    max-width: 600px;
    border-spacing: 20px;
    margin-bottom: auto;
}

td {
    vertical-align: middle;
}

.image-cell {
    padding: 20px;
    border:rgba(255, 255, 255, 0.8)
}

.site-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.title-cell h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

.info-cell p {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}

.footer-cell {
    width: 100%;
}

footer {
    font-size: 0.9em;
    color: #777;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
